{% extends 'hub/base.html' %}


{% block content %}
<h1>{{ user.username }}</h1>
    <img src="{{ user.profile_picture }}" alt="Profile Picture">
    <p>{{ user.bio }}</p>

    {% if request.user == user %}  <form method="post" enctype="multipart/form-data">  {% csrf_token %}
            <label for="profile_picture">Profile Picture:</label>
            <input type="file" name="profile_picture" id="profile_picture">
            <button type="submit">Update Profile</button>
        </form>
    {% endif %}
{% endblock %}