{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Social interaction site to connect user togther with personal profiles and post feeds to be able to like and comment on other users posts">
    <meta name="author" content="DevHub">
    <title>{% block title %}Home | DevHub{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load cloudinary %}
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'images/logo.jpg' %}" class="d-inline-block align-top logo" alt="Logo" width="70" height="100">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        {% if user.is_authenticated %}

                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                        </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            
                                {% if user.is_authenticated %}
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ user.username }}
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end bg-warning" aria-labelledby="navbarDropdown">

                                        <li><a class="dropdown-item" style="color: #252525;" href="{% url 'profile' %}">Profile</a></li>

                                        <hr>
                                        <li><a class="dropdown-item" style="color: #252525;" href="{% url 'logout' %}">Logout</a></li>
                                    </ul>
                                {% else %}
                                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Account
                                    </a>
                                {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-5 messages-success">
                {% for message in messages %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}><strong>{{ message }}</strong></p>
                {% endfor %}
            </div>
        </div>
    </div>
    <main class="container">
        <h1>DevHub</h1>
        <hr>
        <div class="row mt-5">
            <div class="col-8">
                {% block posts %}
                  {% for post in posts reversed %}
                <a class="a-tag" href="{% url 'post_detail' post.pk %}">
                    <div class="mb-5 mt-5">
                        <h5><strong>Username:</strong> {{post.author}} <strong>wrote-</strong></h5>
                        <h2>{{ post.title }}</h2>
                        <img class="card-img-top img-fit" height="300px" src=" {{ post.image.url }}" alt="{{ post.title}}">
                        <p>{{ post.body | slice:":300" }}...</p>
                        <hr>
                    </div>
                </a>
                  {% endfor %}

                {% endblock posts %}
            </div>
            <div class="col-4 mt-5 side-info">
                {% if user.is_authenticated %}
                    <div>
                        <h2>Create Post:</h2>
                        <button class="btn btn-primary"><a class="a-tag" href="{% url 'create_post' %}">Create Post</a></button>
                    </div>
                    <hr>
                    <div class="side-info-1">
                        <h2>Other User Profile:</h2>
                        <button class="btn btn-primary"><a class="a-tag" href="{% url 'profile_list' %}">Users</a></button>
                    </div>
                    <hr>
                {% else %}
                    <div>
                        <h3>Please log in to create a post.</h3>
                        <button class="btn btn-primary"><a href="{% url 'login' %}">Login</a></button>
                        <hr>
                    </div>
                    <div class="side-info-2">
                        <h3>Please log in to follow users.</h3>
                        <button class="btn btn-primary side-info-2"><a href="{% url 'login' %}">Login</a></button>
                        <hr>
                    </div>
                {% endif %}

            </div>
    {% endblock %}

</main>

</body>

</html>