{% extends 'social/home.html' %}
{% block title %}Logout | DevHub{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col logout mt-5">
                <h1>Logout?</h1>
                <p>Are you sure you want to logout?</p>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button class="mb-3 bt btn-warning" type="submit">Yes, Logout</button>
                    <br>
                    <button class="btn btn-primary"><a href="{% url 'home' %}">No, Don't Logout</a></button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}