{% extends 'social/home.html' %}
{% block title %}Post Detail | DevHub{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-5 messages-success">
            {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}><strong>{{ message }}</strong></p>
            {% endfor %}
        </div>
    </div>
</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mt-3">
                <h1>{{ post.title }}</h1>
                <h3>{{ post.author }} Posted:</h3>
                <img class="card-img-top img-fit post-pic" style="width: auto; height: 300px;" src=" {{ post.image.url }}" alt="{{ post.title }}">
                <p>{{ post.body | linebreaks }}</p>
                <p>{{ post.created_on }}</p>
                <h3>Leave a Like</h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    {% if like %}
                        <button type="submit" name="">Like</button>
                    {% else %}
                        <button type="submit" name="">Like</button>
                    {% endif %}

                </form>

                {% if request.user.is_authenticated and post.author == request.user %}
                    <div>
                        <button class="btn btn-primary"><a href="{% url 'edit_post' post.pk %}">Edit</a></button>
                        <span>  <button class="btn btn-warning"><a href="{% url 'delete_post' post.pk %}">Delete</a></button></span>
                    </div>
                    <hr>
                {% endif %}
            </div>
            <div class="col-lg-4 mt-5">
                <h3>Leave a comment:</h3>
                <form method="post">
                    {% csrf_token %}
                    <div>
                        {{ form.author }}
                    </div>
                    <div>
                        {{ form.body }}
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <hr>
            </div>
            <div class="col-12">
                <h3>Comments:</h3>
                {% for comment in comments reversed %}
                            <p>
                             <b>{{ comment.author }}</b> wrote:
                            </p>
                            <p>
                                {{ comment.body | linebreaks }}
                            </p>
                            <p>
                                On {{ comment.created_on.date }}
                            </p>
                        {% if comment.author == request.user %}
                            <div class="edit-delete">
                                <button class="btn btn-primary"><a id="edit" href="{% url 'edit_comment' comment.pk %}">Edit</a></button>
                                <span>  <button class="btn btn-warning"><a id="delete" href="{% url 'delete_comment' comment.pk %}">Delete</a></button></span>
                            </div>
                        {% endif %}
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}