{% extends 'social/home.html' %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <h3>{{ post.author }} Posted:</h3>
    <hr>
    
        <img class="card-img-top img-fit" height="300px" src=" {{ post.image.url }}" alt="{{ post.title }}">
    
    <p>{{ post.body | linebreaks }}</p>
    <p>{{ post.created_on }}</p>
    {% if request.user.is_authenticated and post.author == request.user %}
        <div>
            <button class="btn btn-primary"><a href="{% url 'edit_post' post.pk %}">Edit</a></button>
            <span>  <button class="btn btn-warning"><a href="{% url 'delete_post' post.pk %}">Delete</a></button></span>
        </div>
        <hr>
    {% endif %}

    <h3>Leave a comment:</h3>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.author }}
        </div>
        <div>
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <hr>
    <h3>Comments:</h3>
    {% for comment in comments reversed %}
                <p>
                 <b>{{ comment.author }}</b> wrote:
                </p>
                <p>
                    {{ comment.body | linebreaks }}
                </p>
                <p>
                    On {{ comment.created_on.date }}
                </p>
            {% if user.is_authenticated and comment.author == user %}
                <div>
                    <button class="btn btn-primary"><a href="{% url 'edit_comment' comment.pk %}">Edit</a></button>
                    <span>  <button class="btn btn-warning"><a href="{% url 'delete_comment' comment.pk %}">Delete</a></button></span>
                </div>
            {% endif %}
        <hr>
    {% endfor %}
{% endblock %}