{% extends 'social/home.html' %}

{% block content %}
    <p>{{ post.body | linebreaks }}</p>

    <h3>Leave a comment:</h3>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.author }}
        </div>
        <div>
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <h3>Comments:</h3>
    {% for comment in comments %}
        <p>
         <b>{{ comment.author }}</b> wrote:
        </p>
        <p>
            {{ comment.body | linebreaks }}
        </p>
        <p>
            On {{ comment.created_on.date }}
        </p>
    {% endfor %}
{% endblock %}