{% extends 'social/home.html' %}
{% block title %}User Profile | DevHub{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h1>Follow other users</h1>
            <div class="col-4 profile-list">
                {% for profile in profiles %}
                <div class="col-4 profile-list-img">
                    <img src="{{ user.profile.profile_picture.url }}" alt="">
                    <h3>{{ profile.user.username }}</h3>
                    <hr>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}