{% extends 'social/home.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>{{ user.username }}</h2>
    <img src="{{ user.profile.profile_picture.url}}" alt="Profile Picture">
    <p>{{ user.profile.bio }}</p>
    <p>{{ user.profile.interest }}</p>
    <p>{{ user.profile.location }}</p>

    <form action="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Edit Profile</button>
    </form>
{% endblock %}