{% extends 'social/home.html' %}
{% block title %}User Profile | DevHub{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h1>Follow other users</h1>
            <div class="col-12 profile-list">
                {% for profile in profiles %}
                <div class="col profile-list">
                        <img src="{{ profile.profile_picture.url }}" alt="User Profile Picture">
                        <h3>{{ profile.user.username }}</h3>
                        <h3>Bio:</h3>
                        <p>{{ profile.bio }}</p>
                        <h3>Hobbies/ Interests:</h3>
                        <p>{{ profile.interest }}</p>
                        <h3>Location:</h3>
                        <p>{{ profile.location }}</p>
                    <hr>  
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}